<!DOCTYPE html>
<html lang="en-US">
  <meta charset="UTF-8">
  <title>Fave Links</title>
  <body>
    <header>
    <h1>My Fave Links</h1>
    </header>
    <%= yield %>
    <footer>
      Copyright &copy; 2014
    </footer>
  </body>
</html>
