<!DOCTYPE	html>
<html	lang="en-US">
  <head>
    <meta	charset="utf-8">
    <title>Welcome	App</title>
  </head>
  <body>
    <header>
      <h1>Welcome	App</h1>
    </header>
    <section	class="main">
      <%=	yield	%>
    </section>
    <footer>
      Copyright	<%=	Date.today.year	%>	Miah Walley
    </footer>
		</body>
</html>
